h1
{
    font-size: 40px;
    text-decoration: solid;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    padding: 10px;
}
body 
{
    background-color: lightgrey;
    border-style: groove;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode'," Geneva", Verdana, sans-serif;
    
}
p
{
    margin-left: 15%;
    margin-right: 15%;
}



button
{
    border: none;
    text-decoration: none;
    background-color: lightgreen;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5px;
    padding: 10px;
    transition-duration: 0.4s;
}
button:hover
{
    background-color: rgb(97, 179, 97);
}
